    <div class="container poppins-medium">
        <div class="cube" #cube (click)="rollDice(cube)">
            <div class="cube-face front">
                <div class="inside">
                  <p>{{dicesValue[0]}}</p>
                </div>
            </div>
            <div class="cube-face back">
                <div class="inside">
                  <p>{{dicesValue[0]}}</p>
                </div>
            </div>
            <div class="cube-face left">
                <div class="inside">
                  <p>{{dicesValue[0]}}</p>
                </div>
            </div>
            <div class="cube-face right">
                <div class="inside">
                  <p>{{dicesValue[0]}}</p>
                </div>
            </div>
            <div class="cube-face top">
                <div class="inside">
                  <P>{{dicesValue[0]}}</P>
                </div>
            </div>
            <div class="cube-face bottom">
                <div class="inside">
                  <P>{{dicesValue[0]}}</P>
                </div>
            </div>
        </div>
    </div>
