.dados-eroticos-container {
  height: calc(100vh - 66px);
  width: 100vw;
  background: #1A1F41;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .dados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80%;
  }

  .button-container {
    height: 20%;

    button {
      padding: 8px 70px;
      border-radius: 13px;
      border: none;
      font-size: 17px;
      color: white;
      background: rgb(253, 56, 72);
      background: linear-gradient(0deg, rgb(255, 47, 64) 0%, rgba(255, 162, 79, 1) 60%);
    }
  }

  label {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-90deg) translate(-100%, 0);
  }

  .toggle {
    position: relative;
    width: 60px;
    height: 30px;
    background: rgb(253, 56, 72);
    background: linear-gradient(30deg, rgb(255, 47, 64) 0%, rgba(255, 162, 79, 1) 60%);
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .toggle::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgb(240, 40, 40);
    box-shadow:-4px -3px 20px 3px rgba(0, 3, 4, 0.4);
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: left 0.3s;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked+.toggle {
    background: linear-gradient(30deg, rgb(255, 47, 64) 0%, rgba(255, 162, 79, 1) 60%);
  }

  input[type="checkbox"]:checked+.toggle::before {
    left: 33px;
  }
}
