  <section class="menu-container">
    <nav class="navbar">
      <mat-icon aria-hidden="false" [fontIcon]="buttonIcon"></mat-icon>
        <span>{{ title }}</span>
    </nav>

    @if (!isComponentActive) {
      <div class="menu" (click)="navigateTo()">
        <nav>
          <div class="dado">
            <div class="image"></div>
            <span>Besar</span>
          </div>

          <div class="message-container">
            <div class="image"></div>
            <span>Juegos de dados</span>
          </div>
        </nav>
      </div>
    }
  <ng-container *ngComponentOutlet="component"></ng-container>
  <!-- <app-dados-eroticos></app-dados-eroticos> -->
</section>
